<table class="table">
  <thead>
  <tr>
    <th scope="col">Original value</th>
    <th scope="col">Pipe name</th>
    <th scope="col">After transform</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{loremValue}}</td>
    <td>uppercase</td>
    <td>{{loremValue | uppercase}}</td>
  </tr>
  <tr>
    <td>{{loremValue2}}</td>
    <td>lowecase</td>
    <td>{{loremValue2 | lowercase}}</td>
  </tr>
  <tr>
    <td>{{jsonObject}}</td>
    <td>json</td>
    <td>{{jsonObject | json}}</td>
  </tr>
  <tr>
    <td>{{currencyValue}}</td>
    <td>Currency</td>
    <td>{{currencyValue | currency}}</td>
  </tr>
  <tr>
    <td>{{birthday}}</td>
    <td>Date</td>
    <td>{{birthday | date: 'medium'}}</td>
  </tr>
  <tr>
    <td>{{lorem}}</td>
    <td>snake-Case</td>
    <td>{{lorem | snakeCase}}</td>
  </tr>
  </tbody>
</table>

<hr>
<div>
  <h3>NgIf</h3>

    <button (click)="isAutenticated = !isAutenticated" class="btn btn-primary">Click</button>

    <div *ngIf="isAutenticated;then thenBlock else elseBlock;">
    </div>
    <ng-template #thenBlock>User is authenicated</ng-template>
    <ng-template #elseBlock>User isn't authenicated</ng-template>

</div>

<div class="mx-3">
  <h3>NgFor</h3>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let person of persons">
      {{person}}
    </li>
  </ul>


</div>

